
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    background: rgba(0,0,0,0.7) url(/assets/rx7fd.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
}

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}
#header{
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    color: white;
    align-items: center;
}


#header-img{
    height: 45px;
    margin-right: 10px;
}

#nav-bar a{
    font-weight: 600;
    padding:25px;
}

#nav-bar a:hover{
    color: black;
    background-color: white;
}


#section{
    padding-top: 125px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#descri{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    margin-bottom: 20px;
}

form input{
    font-family: 'Roboto', sans-serif;
    width: 250px;
    height: 25px;
}
form button{
    font-size: 15px;
    padding: 5px;
    font-family: monospace;
    font-weight: 600;
    color: black;
    border-radius: 5px;
    background-color: white;
    border: none;
    margin-top: 25px;
    width: 150px;
}

form button:hover{
    color: white;
    background-color: black;
}







.div-image{
    width: 140px;
    height: 100px;
}

.main-div{
    color: white;
    align-items: center;
    padding: 10px;
    min-height: 130px;
    display: flex;
    justify-content: start;
}
.descri{
    margin-left: 30px;
}

#main{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 70px;
}

.subtitle{
    font-size: 25px;
}

#videos{
    display: flex;
    justify-content: center;
}

iframe{
    border-radius: 15px;
    margin: 30px;
}

#container1{
    padding: 30px;
    min-height: 300px;
    color: black;
    display: flex;
    justify-content: center;
}

.container{
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sub{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    width: 100%;
    background-color: black;
    text-align: center;
}

.container2{
    width: 270px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

footer{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: end;
    color: white;
    padding: 5px;
}

#footer{
    width: 350px;
    text-align: end;
}

#footer ul li a{
    margin-right: 10px;
}

ul{
    list-style: none;
}

#lid{
    font-weight: 600;
}

.container2 h1{
    margin: 5px;
}


.container2 p{
    text-align: start;
}

p{
    line-height: 1.8em;
}

.container2 button{
    font-size: 15px;
    padding: 15px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    background-color: black;
    border: none;
    margin-top: 25px;
    width: 150px;
}

.container2 button:hover{
    color: black;
    background-color: silver;
}

#delu{
    margin-top: 80px;
}







@media (max-width:700px){
    #header-img{
        height: 25px;
    }
    #header{
        flex-direction: column;
    }
    #nav-bar a{
        padding:5px;
    }
    #title{
        font-size: 30px;
    }
    #main{
        margin-left: 0;
        margin-right: 0;
    }

    #container1{
        padding-right: 50px;
        flex-direction: column;
    }

}

@media (max-width:1100px){
    #container1{
        padding-right: 50px;
        padding-left: 50px;
        flex-direction: column;
    }

    .container{
        margin: 20px;
    }

    .sub{
        width: 315px;
    }

}








